<div class="min-h-screen bg-gray-100 py-10 px-4">
  <div class="max-w-4xl mx-auto bg-white rounded-2xl shadow-xl p-8 space-y-10">

  
 <app-task-body [task]="task()" ></app-task-body>

    <!-- Comments Section -->
    <div class="space-y-6">
      <h2 class="text-xl font-semibold border-b pb-2">
        Comments
      </h2>
      

      <!-- Comment thread (nested) -->
       <app-comment-form
        (submitComment)="addComment($event)">
      </app-comment-form>
      <app-comment-thread
        [comments]="commentStore.getCommentsForTask(task().id)">
      </app-comment-thread> 

      <!-- Add new comment -->
     
    </div>

  </div>
</div>